*{
  font-family: ('https://fonts.googleapis.com/css2?family=Allura&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

}

.con1 {
  justify-content: space-between;
  /* background-color: aqua; */
  height: 80px;
  padding: 0 25px;
}

.c1 {
  align-items: center;
  display: flex;
}

.logo {
  width: 155px;
  height: 85px;
  margin-right: 1px;
}

.menu {
  cursor: pointer;
  font-size: 20px;
  margin: 25px;
  margin-left: 15px;
}

.c2 {
  font-size: 20px;
  float: right;
  align-items: center;
  text-align: end;
  margin-right: 40px;
}

.img {
  font-size: 27px;
  margin-right: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

.sidebar, .cartsidebar {
  position: fixed;
  top: 0;
  width: 390px;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  z-index: 999;
}

.sidebar {
  left: -390px; /* Hidden initially */
}

.sidebar.open {
  transform: translateX(390px); /* Slide in */
}

.cartsidebar {
  right: -390px; /* Hidden initially */
}

.cartsidebar.open {
  transform: translateX(-390px); /* Slide in */
}

.sidebar-header{
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

h6 {
  color: black;
  margin-left: 5%;
  margin-top: 3%;
}

.sidebar ul, .cartsidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li, .cartsidebar li {
  padding: 1rem;
  font-size: 1.2em;
  cursor: pointer;
}

.dotted-line {
  border: none;
  border-top: 2px dotted #757272;
  margin: 0;
}

.search {
  display: flex;
  align-items: center;
  background-color: rgb(243, 243, 243);
  padding: 10px;
  border-radius: 16px;
}

.drop1 {
  margin-right: 10px;
  width: fit-content;
  background-color: transparent;
}

.drop {
  background-color: transparent;
  border: none;
  font-size: 18px;
  color: #817f7f;
  outline: none;
}

.sebar input[type="text"] {
  padding: 5px;
  font-size: 17px;
  border: none;
  border-radius: 7px;
  background-color: transparent;
  outline: none;
  width: 200px;
  margin-left: 10px;
}

.sbar {
  margin-left: 3%;
  font-size: 35px;
  color: #615f5f;
}

.design {
  color: rgb(68, 68, 68);
  background: none;
  border: none;
  cursor: pointer;
}

.c4 {
  margin-left: 8%;
}

.c4 a {
  float: left;
  margin-right: 15%;
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 17px;
}

.cart-dropdown {
  position:relative;
  top: 40px;
  right: 100px;
  width: 200px;
  padding: 15px;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.cart-dropdown h3 {
  margin: 0 0 10px;
}

.cart-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0 0 10px;
}

.cart-dropdown li {
  margin-bottom: 5px;
}

.checkout-button {
  width: 100%;
  padding: 8px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.checkout-button:hover {
  background-color: #0056b3;
}
.cartsidebar-header{
  justify-self:center;
  color: rgb(109, 101, 101);
}
.cart{
  margin-top: 35px;
  margin-left: 10px;
  font-size: 23px;
  
}
.cart .text1{
  color: rgb(87, 153, 87);
}
.cart .text2{
  background-color: rgb(87, 153, 87);
}
.cartsidebar .ulist{
  padding: 10px;
}
.cartbtn{
 width: 80%;
 margin-left: 40px;
 background-color: rgb(87, 153, 87);
}
.cartbtn:hover{
  background-color: rgb(245, 177, 51);
}
.home{
  background-image: url('./img/banner-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.text-1{
  color: rgb(78, 177, 78);
}
.leftcol{
  margin-left: 10px;
}
.btn1{
  background-color:  rgb(78, 177, 78);
  color: #fff;
}
.btn1:hover{
  background-color: rgb(245, 177, 51);
}
.category-carousel {
  display: flex;
  overflow-x: hidden;
}

.category-item {
  padding: 10px;
  transition: transform 0.5s ease;
}

.btn-yellow {
  background-color: #ffc107;
  color: #000;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.btn-yellow:hover {
  background-color: #ffca28;
}